/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.sec {
  border: 1px solid #E9C664;
}

.text-sec {
  color: var(--secondary);
  font-size: 40px;
}

.toggle-icon {
  color: var(--secondary);
  font-size: 20px;
}

.text-bright {
  color: var(--light);
}
.text-brighter {
  color: var(--secondary);
}

.bg-brighter {
  background-color: var(--secondary);
}

.hero-header {
  background: linear-gradient(rgba(20,20,31,0.7), rgba(20,20,31,0.7)), url(./src/assets/back.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-service {
  background: linear-gradient(rgba(20,20,31,0.7), rgba(20,20,31,0.7)), url(./src/assets/Services.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.line {
  height: 250px;
  width: 2px;
  background-color: #E9C664;
}

.horizontal {
  height: 2px;
  width: 200px;
  background-color: #E9C664;
}

.service-header {
  background: linear-gradient(rgba(20,20,31,0.7), rgba(20,20,31,0.7)), url(./images/blog.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image {
  height: 350px;
}
